name: Deploy
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Google Cloud
        uses: google-github-actions/setup-gcloud@main
      - name: Security vulnerabilities scan
        uses: aufdenpunkt/python-safety-check@master
        env:
          DEP_PATH: ./requirements.txt
      - name: Build and push
        uses: RafikFarhad/push-to-gcr-github-action@v4
        with:
          gcloud_service_key: ${{ secrets.GCLOUD_SERVICE_KEY }}
          registry: asia.gcr.io
          project_id: ${{ secrets.PROJECT_ID }}
          image_name: pj_chatbot
          dockerfile: ./Dockerfile